.electoral-card {
  margin-top: 15px;
  margin-bottom: 15px;

  a {
    background-color: #e30a17;
    border-color: white;
  }
}

.electoral-image {
  height: 190px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
