<div class="row justify-content-center">
    <div class="col-md-8 col-sm-8 col-lg-5" style="padding-top:100px;">
  
  
        <div class="row justify-content-center">
            <div class="col-sm-6">
              <div style="padding: 10px; border:1px solid #eee;">
                <div style="text-align: center">
                    <strong>  You voted for </strong><br>
                </div>                
                <img src="/assets/{{c.id}}.jpg" width="100%" alt="{{c.name}}"> <br>
                <br>
                <img style="float:left" src="/assets/party-{{c.id}}.png" height="50px" alt="{{c.name}}">
                <div style="float:left; padding:10px;">
                  <strong>{{c.name}}</strong><br>
                  {{c.party}}
                </div>
          
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
  
  
    </div>
  </div>